!!!
%html
  %head
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "app.js"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "styles.css"}
    %title Super-Pry
  %body
  .main-wrapper
    .title-wrapper
      %h1 Superpry
    .form-wrapper
      %form{:action => "/", :method => "post", :id => 'target'}
        %input{:type => "text", :name => "code", :class => "input"}
