* {
  font-family: Menlo, sans-serif;
}

.title-wrapper {
  position: relative;
  display: inline;
  height: 100%;
  width: 20%;
  margin-left: 80%;
}

h1 {
  display: inherit;
  position: fixed;
}

.main {
  position: relative;
  top: 35em;
  width: 70%;
  font-size: 14pt;
  border: 1px solid green;
}

.push {
  position: relative;
  top: 43em !important;
  border: 1px solid blue;
}

.form-wrapper {
  width: 98%;
  position: fixed;
  bottom: .8em;
}

.input {
  width: 100%;
  height: 2em;
  font-size: 14pt;
}
