* {
  font-family: Menlo, sans-serif;
}

.title-wrapper {
  text-align: left;
}

.main {
  font-size: 16pt;
  overflow: scroll;
  height: 500px;
}

.form-wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  bottom: 1em;
}

.input {
  width: 100%;
  height: 2em;
  font-size: 16pt;
}
