* {
  font-family: Menlo, sans-serif;
}

.main {
  font-size: 14pt;
  position: absolute;
  bottom: 3em;
  width: 70%;
  height: auto;
}

.title-wrapper {
  float: right;
  display: inline-block;
  height: 100%;
  width: 20%;
}

h1 {
  display: inherit;
  float: right;
}

.form-wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  bottom: 1em;
}

.input {
  width: 100%;
  height: 2em;
  font-size: 14pt;
}
